:root {
    /* COLOURS */
    --color-background: #ffffff;
    --color-text: #000000;

    /* TYPOGRAPHY */
    /* Fonts */
    --font-body: "Arial", sans-serif;
    --font-decorative: "Sloop Serif", serif;

    /* Sizing */
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.5rem;
    --fs-xl: 2rem;
    --fs-2xl: 3rem;

    /* Font Weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    
    /* Line Heights */
    --lh-tight: 1.2;
    --lh-normal: 1.5;
}
/* BODY */
body {
  font-family: var(--font-body);
  color: var(--color-text);
  background: var(--color-background);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
}

h1 {
  font-family: var(--font-decorative);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bold);
}

h2 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-lg);
}

p {
  font-size: var(--fs-md);
}

small {
  font-size: var(--fs-sm);
}

/* MAIN (FLEX) */
main.flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: auto;
  padding: 2rem 0;
}

/* MAIN (GRID) */
